@media (max-width: 768px) {
  br {
    display: none;
  }
  .navbar {
    flex-direction: column;
    height: 80px;
    padding: 20px;

    & a {
      padding: 3px 10px;
      margin: 0 3px;
      font-size: 0.95rem;
    }
  }

  .flex-items {
    flex-direction: column;
  }

  .flex-columns .column,
  .flex-grid .column {
    flex: 100%;
    max-width: 100%;
  }
  .logo {
    font-size: 1.4rem;
  }

  iframe {
    width: 100vw;
  }
}

@media (max-height: 400px) {
  .navbar {
    height: 40px;
    padding: 20px;
    & .logo {
      font-size: 1.2rem;
    }

    & a {
      margin: 0 3px;
      padding: 3px 10px;
      font-size: 0.9rem;
    }
  }

  iframe {
    width: 100vw;
  }
}
