.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  opacity: 0.9;
  width: 100%;
  max-width: 100%;
  margin: auto;
  height: 70px;
  position: fixed;
  top: 0;
  padding: 0 30px;
  transition: 0.5s ease-in;
  z-index: 500;

  & a {
    color: #fff;
    padding: 2px 2px;
    margin: 0 20px;
    font-size: 1.15rem;
    //cursor: url('/dist/images///cursor_Fill.png'), auto;

    &:hover {
      border-bottom: $primary-color 2px solid;
    }
  }

  & ul {
    display: flex;
  }

  & li:hover {
    transform: scale(1.2);
    transition: 0.2s ease;
  }

  & h1:hover {
    color: $primary-color;
    transform: scale(1.025);
    transition: 0.2s ease-in;
  }
}

.top {
  background-color: rgba(4, 4, 4, 0.5);
  // z-index: 10;
}
