// Button
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  background-color: $primary-color;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;

  &:hover {
    opacity: 0.85;
    transform: scale(1.1);
    transition: 0.2s ease-in;
  }
}

.btn-primary,
.bg-primary {
  background: $primary-color;
  color: #f4f4f4;
  font-size: 1.2rem;
}

.btn-secondary,
.bg-secondary {
  background: $secondary-color;
  color: #fff;
  font-size: 1.2rem;
}

.btn-dark,
.bg-dark {
  background: $dark-color;
  color: #fff;
  font-size: 1.2rem;
}

.btn-light,
.bg-light {
  background: $light-color;
  color: #333;
  font-size: 1.2rem;
}

.btn-outline {
  background: transparent;
  border: 1px solid #fff;
}

// Embedded Video
iframe {
  &:hover {
    transition: all 0.2s ease-in;
    transform: scale(1.02);
    //   border: 1px solid $primary-color;
  }
}

// Flex Items
.flex-items {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100%;

  & > div {
    padding: 20px;
  }
}

// Flex Columns
.flex-columns.flex-reverse .row {
  flex-direction: row-reverse;
}

.flex-columns {
  & .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  & .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;

    & .column-1,
    & .column-2,
    &.column-3 {
      height: 100%;
      width: 100%;
    }
  }

  & .column-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;
  }

  & .column-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    height: 30vh;

    & img {
      height: 10rem;
      width: 10rem;
      &:hover {
        transform: scale(1.3);
        transition: 0.2s ease-in;
      }
    }
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  & h2 {
    font-size: 40px;
    font-weight: 100;
  }
}

// Section Header
.section-header {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  & h2 {
    font-size: 40px;
    margin: 20px 0;
  }
}

.section-padding {
  padding: 20px 20px 40px;
}

// Flex Grid
.flex-grid {
  & .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  & .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
}
